/* common style start */
body {
  margin-left: 140px;
  margin-right: 140px;
}
.font {
  font-family: "Quicksand", serif;
  font-style: normal;
}
li {
  font-size: 20px;
  font-weight: 500;
}
h1 {
  margin: 0;
}
#first {
  color: #fea301;
}
#second {
  color: #01acfd;
}
/* common style end */

/* navbar start */
nav {
  gap: 186px;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
ul {
  list-style: none;
  gap: 32px;
  padding: 0;
}
#nav-btn {
  border: none;
  color: white;
  padding: 10px 60px;
  border-radius: 12px;
  background: #fea301;
  font-size: 20px;
  font-weight: 600;
}
#menu-1 {
  color: #fea301;
  font-weight: 700;
}
#menu-2 {
  color: #01acfd;
}
#menu-3 {
  color: #05d4df;
}
#menu-4 {
  color: #5d58ef;
}
/* navbar end */

/* banner section start */
.banner-section {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.banner-heading {
  font-size: 56px;
  font-weight: 700;
}
.banner-p {
  font-size: 20px;
  font-weight: 400;
}
.banner-btn {
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 12px;
  background: #111;
  padding: 10px 47px;
}
/* banner section end */

/* media query start */
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }
  #nav-btn {
    display: none;
  }
  #hamburger {
    margin-left: 200px;
  }

  /* banner start */
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 336px;
    height: 413px;
  }
  .banner-heading{
    width: 357px;
    font-size: 32px;
    text-align: center;
  }
  .banner-p > br{
    display: none;
  }
  .banner-p{
    width: 357px;
    font-size: 14px;
    text-align: center;
  }
  .banner-btn{
    font-size: 16px;
    margin-left: 32%;
    padding: 6px 24px;
    line-height: 30px;
  }
  /* banner end */
}
@media screen and (min-width: 992px) {
  #hamburger {
    display: none;
  }
}
/* media query end */
