/* common style start */

.font {
  font-family: "Quicksand", serif;
  font-style: normal;
}
li {
  font-size: 20px;
  font-weight: 500;
}
h1,
h3 {
  margin: 0;
}
#first {
  color: #fea301;
}
#second {
  color: #01acfd;
}
.ml{
  margin-left: 38px;
}
.small-card-h3{
  padding: 24px 38px 28px 38px;
}
/* common style end */

/* navbar start */
nav {
  gap: 186px;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
ul {
  list-style: none;
  gap: 32px;
  padding: 0;
}
#nav-btn {
  border: none;
  color: white;
  padding: 10px 60px;
  border-radius: 12px;
  background: #fea301;
  font-size: 20px;
  font-weight: 600;
}
#menu-1 {
  color: #fea301;
  font-weight: 700;
}
#menu-2 {
  color: #01acfd;
}
#menu-3 {
  color: #05d4df;
}
#menu-4 {
  color: #5d58ef;
}
/* navbar end */

/* banner section start */
.banner-section {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.banner-heading {
  font-size: 56px;
  font-weight: 700;
}
.banner-p {
  font-size: 20px;
  font-weight: 400;
}
.banner-btn {
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 12px;
  background: #111;
  padding: 10px 47px;
}
/* banner section end */

/* curriculum section start */
.curriculum-container {
  background-image: url(/assets/bg.png);
  text-align: center;
}
.h2-heading {
  text-align: center;
  margin-top: 60px;
  font-size: 46px;
  font-weight: 700;
}
.curriculum-section {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.card {
  padding: 50px 20px 0;
  border-radius: 18px;
  height: 400px;
}
.curriculum-card {
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.first {
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  border: 1px solid #def5ff;
}
.second {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  border: 1px solid #fff4dc;
}
third {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  border: 1px solid #f2e8ff;
}
.class-btn {
  background: none;
  font-size: 15px;
  font-weight: 700;
  border: none;
}
.btn-1 {
  color: #64c8ff;
}
.btn-2 {
  color: #f0aa00;
}
.btn-3 {
  color: #8700ff;
}
.card-p {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 32px;
}
/* curriculum section end */

/* stories section start */
.stories-section {
  background-image: url(/assets/bg.png),
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
}
.stories-container {
  display: flex;
  justify-content: center;
}
.stories-card-title-big {
  width: 540px;
  border-radius: 0 0 16px 16px;
  background: #fff;
}
.stories-card-title-small {
  width: 290px;
  border-radius: 0 0 16px 16px;
  padding: 0;
  background: #fff;
}
.story-img,.small-story-img {
  border-radius: 16px 16px 0px 0px;
  display: block;
}
.stories-card-p{
  width: 433px;
  padding-bottom: 38px;
}
.card-title{
  padding-top: 50px;
  padding-bottom: 20px;
}
.small-card-1{
  display: flex;
  margin-bottom: 15px;
  margin-left: 18px;
  gap: 15px;
}
.small-card-2{
  display: flex;
  margin-left: 18px;
  gap: 15px;
}
.big-card {
  position: relative;
}
.date-btn {
  padding: 14px 18px 15px 19px;
  border-radius: 47px;
  background: #3cd8e8;
  position: absolute;
  bottom: 38%;
  border: none;
  color: white;
}
.date-btn-1{
  padding: 9px 18px 10px 19px;
  border-radius: 47px;
  background: #95B226;
  position: absolute;
  bottom: 30%;
  border: none;
  color: white;
}
.btn-pos{
  position: relative;
}
/* stories section end */

/* media query start */
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }
  #nav-btn {
    display: none;
  }
  #hamburger {
    margin-left: 200px;
  }

  /* banner start */
  .banner-section {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-img {
    width: 336px;
    height: 413px;
  }
  .banner-heading {
    width: 357px;
    font-size: 32px;
    text-align: center;
  }
  .banner-p > br {
    display: none;
  }
  .banner-p {
    width: 357px;
    font-size: 14px;
    text-align: center;
  }
  .banner-btn {
    font-size: 16px;
    margin-left: 32%;
    padding: 6px 24px;
    line-height: 30px;
  }
  /* banner end */

  /* curriculum start */
  .curriculum-section {
    flex-direction: column;
  }
  .h2-heading {
    font-size: 26px;
    font-weight: 700;
  }
  /* curriculum end */

  /* stories section start */
  .big-card{
    display: none;
  }
  /* stories section end */
}
@media screen and (min-width: 992px) {
  #hamburger {
    display: none;
  }
  .card {
    width: 300px;
  }
  .h2-heading {
    margin-bottom: 80px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 80px 0 60px 0;
  }
  .left-arrow,
  .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #fea301;
  }
}
/* media query end */
